@import "inter-ui/inter.css";
@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';
@source '../**/*.jsx';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    --font-inter: 'Inter', 'system-ui';
}

/*Remueve márgenes generados automáticamente por el navegador */
/** {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #00304E;
}*/

@layer base {
    *,
    *::before,
    *::after {
        padding: 0;
        margin: 0;
    }

    body {
        background-color: #00304E;
    }

    /* For Firefox. */
    * {
        scrollbar-width: none;
    }

    /* For WebKit (Chrome & Safari). */
    ::-webkit-scrollbar {
        display: none;
    }
}